#nav-menu{
    background-color: rgb(43, 226, 226);
    text-align: center;
}
#car1{
    color: black;
    border-color: black;
}
#car2{
    color: black;
    border-color: black;
}
#car3{
    color: black;
    border-color: black;
}
#car4{
    color: black;
    border-color: black;
}
#bnt{
    color: blue;
}